<div class="">

    <div class=flex-container>
        <div class="flex-item1">
          <app-header></app-header>
        </div>
        <div class="flex-item2">
          <i class="material-icons md-12 icon-padding">build</i>
          <i class="material-icons md-12 icon-padding">account_box</i>
          <i class="material-icons md-12 icon-padding">email</i>
          <i class="material-icons md-12 icon-padding">call</i>
        </div>
    </div>

    <hr class="devider">

    <div class=flex-container>
        <div class="flex-item1">
          <h1>Canvas</h1>
        </div>
        <div class="flex-item2">
            <div class="">
                <button mat-button routerLink="/" routelinkActive="active"><i class="material-icons md-18 icon-padding">home</i>HOME</button>
                <button mat-button routerLink="home" routelinkActive="active"><i class="material-icons md-18 icon-padding">airplanemode_active</i>FLIGHTS</button>
                <button mat-button routerLink="hotels" routelinkActive="active"><i class="material-icons md-18 icon-padding">room_service</i>HOTELS</button>
                <button mat-button routerLink="holidays" routelinkActive="active"><i class="material-icons md-18 icon-padding">beach_access</i>HOLIDAYS</button>
                <button mat-button routerLink="blog" routelinkActive="active"><i class="material-icons md-18 icon-padding">email</i> BLOG</button>
                <button mat-button routerLink="contact" routelinkActive="active"><i class="material-icons md-18 icon-padding">call</i> 0860 00 0000</button>
              </div>
        </div>
    </div>

    <div class=flex-container2>
      <div class="flex-item"></div>
      <div class="flex-item">
        <router-outlet></router-outlet>
      </div>
      <div class="flex-item"></div>
    </div>

    <app-background-image></app-background-image>

</div>
