<mat-tab-group class="mat-styling">
    <mat-tab class="mat-styling" label="FLIGHTS"> FLIGHTS
        <form class="example-form">
            <div>
                <mat-form-field class="example-full-width" class="some-styling">
                    <input matInput placeholder="From" value="">
                  </mat-form-field>

                  <mat-form-field class="example-full-width" class="some-styling">
                    <input matInput placeholder="To" value="">
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width" class="some-styling">
                    <input matInput placeholder="Departure" value="">
                  </mat-form-field>

                  <mat-form-field class="example-full-width" class="some-styling">
                    <input matInput placeholder="Return" value="">
                  </mat-form-field>
            </div>

            <mat-form-field class="example-full-width" class="more-styling">
                <input matInput placeholder="Adults" value="">
              </mat-form-field>


            </form>
    </mat-tab>
    <mat-tab label="HOTELS"> HOTELS </mat-tab>
    <mat-tab label="FLIGHTS + HOTELS"> FLIGHTS + HOTELS </mat-tab>
    <mat-tab label="HOLIDAYS"> HOLIDAYS </mat-tab>

  </mat-tab-group>
